<section class="container">
  <% if @active_newsletters.empty? %>
    <p>There have been no newsletter drafts made recently</p>
  <% else %>
    <div class="row">
      <h3>Drafts</h3>
    </div>
    <% @active_newsletters.each do |newsletter| %>
      <p class="hint"><small><%= newsletter.due_date_in_words %>…</small></p>
      <div class="row draft-list-item">
        <%= link_to newsletter_path(newsletter) do %>
          <div class="col-md-8">
            <div class="draft-image" style="background-image:url(<%= image_path Newsletter::HEADER_IMAGE_PATH %>)">
            </div>
            <div class="draft-contents">
              <div class="draft-subject">
                <h3><%= newsletter.subject %></h3>
              </div>
              <pre class="draft-body"><%= newsletter.body %></pre>
            </div>
          </div>
          <div class="col-md-4">
            <ul class="draft-activities-list">
              <% newsletter.recent_activities(5).each do |activity| %>
                <li class="media draft-activity-item">
                  <div class="media-left">
                    <%= image_tag activity.user.profile_image_url,
                      title: activity.user.name, class: 'img-circle' %>
                  </div>
                  <div class="media-body">
                    <%= activity.type.capitalize + 'd' %> by <%= activity.user.name %> <%= time_ago_in_words(activity.time) %> ago
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</section>

<ul style="list-style: none">
  <h3>Archived Newsletters</h3>
  <% if @archived.empty? %>
    <p>There are no archived newsletters present</p>
  <% end %>
  <% @archived.each do |newsletter| %>
    <li>
      <%= link_to newsletter_path(newsletter) do %>
        “<%= newsletter.subject %>” sent <%= time_ago_in_words(newsletter.sent_at) %> ago
      <% end %>
    </li>
  <% end %>
</ul>
