<div class="container">
  <div class="row">
    <%= form_for @newsletter, html: { class: 'has-preview', data: { url: preview_newsletter_path } } do |f| %>
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <%= f.label :subject %>
          <%= f.text_field :subject, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control', rows: 20, style: 'resize:vertical' %>
        </div>

        <%= f.submit (@newsletter.new_record? ? 'Save draft' : 'Update draft'),
          class: 'btn btn-default', disabled: @newsletter.readonly? %>

        <button class="generate-preview-button btn btn-default" type="button">Generate Preview</button>

        <% if @newsletter.persisted? %>
          <%= link_to 'Send Email', newsletter_send_confirmation_path(@newsletter), class: 'btn btn-warning' %>
        <% else %>
          <%= link_to 'Send Email', root_path, class: 'btn btn-warning', disabled: true %>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6">
        <iframe class="newsletter-preview"></iframe>
      </div>
    <% end %>
  </div>
</div>
