<%= form_for event, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :title, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :title, class: 'form-control', placeholder: 'e.g. Introduction to Ruby' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :user_id, 'Host', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.collection_select :user_id, @available_hosts, :id, :name, { prompt: 'Guest host' }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.date_field :date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :technologies, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :technologies, class: 'form-control', placeholder: 'e.g. Ruby, Ruby on Rails' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :summary, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_area :summary, class: 'form-control', rows: 4,
        style: 'resize:none',
        placeholder: 'A short summary no longer than a few sentences.' %>
    </div>
  </div>

  <button type="submit" class="btn btn-default pull-right"><%= submit_text %></button>
<% end %>
