<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#header-collapseable-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to 'Alliants Coding Club', (user_signed_in? ? users_dashboard_path : root_path), class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="header-collapseable-menu">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right user-controls">
          <li><%= link_to fa_icon('home'), root_path, class: 'home-link' %></li>
          <li><%= link_to fa_icon('gear'), edit_user_path, title: 'Account settings' %></li>
          <li><%= link_to fa_icon('sign-out'), destroy_user_session_path, title: 'Sign out' %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>

<% [:danger, :warning, :info, :success].each do |type| %>
  <%= content_tag(:div, flash[type], class: "alert alert-#{type}", style: 'margin:0;text-align:center') if flash[type] %>
<% end %>
