<!DOCTYPE html>
<html>
<head>
  <title>NewsletterApp</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless content_for(:skip_header) && yield(:skip_header) %>
  <header>
    <%= render 'layouts/header' %>
  </header>
<% end %>

<main>
  <%= yield %>
</main>

</body>
</html>
